/* Color Palette
OzHarvest yellow: #FBDF06
KiwiHarvest green: #3BAF29
Steel Blue: #4C53BA
Tomatoish: #1E6F85
Grey: #A2AEBB

Subpalette for form :
lighter steel blue: #4C53BA
lighter tomatoish: #1E6F85
 */

/* Notification CSS */

div.notification-bar.notification-bar-active {
  background-color: #3BAF29 !important;
}

.notification-bar-action {
  color: white !important;
  font-size: 15px !important;
}

/*//////////////*/

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

body {
  width: 100%;
  height: auto;
  margin: 0;
  font-family: Raleway;
}

.link {
  text-decoration: none;
}

.mainWrapper {
  width: 100%;
  height: auto;
}

.mainWrapper p {
  margin: none;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #3BAF29;
  position: relative;
  z-index: 1;
}

.header a {
  text-decoration: none;
}

.listBanner {
  text-decoration: none;
}

.listBanner p {
  width: 60%;
  background-color: white;
  font-size: 1.5em;
  margin: 25px auto 20px;

  text-align: center;
  border: 1px solid white;
  padding: 5px;
  border: 2px solid #3BAF29;
  border-radius: 5px;

  text-decoration: none;
  color: #3BAF29;
}

.authButtonIndex {


  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  margin: 50px auto;

  color: white;
  text-decoration: none;
  font-size: 1.5em;

  overflow: auto;

  transition: .3s;
}

.authButtonIndex:hover {
  background-color: white;
  color: #D9A04A;
  text-shadow: none;


  transition: .3s;
}

.logo {
  font-size: 3.5em;
  font-family: Raleway;
  font-weight: bold;
  color: white;

  padding: 10px;
}

.auth {
 float:right;
 width: auto;
 max-width: 500px;
 margin: 0px 20px 0px 0px;
 height: auto;

 display: flex;
 justify-content: space-around;
}

.navButton {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin: 13px 5px 10px 5px;

  font-size: 1.3em;
  font-family: Raleway;
  color: white;

  transition: .3s;
  float:right;
}

.authButton {
  color: white;
  background-color: #3BAF29;
  transition: .3s;

  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin: 13px 5px 10px 5px;

  font-size: 1.3em;
  font-family: Raleway;

  transition: .3s;
  float:right;
}

.authButton:hover {
  color: #3BAF29;
  background-color: white;
  transition: .3s;
}

.navButton:hover {
  color: #3BAF29;
  background-color: white;
  transition: .3s;
}

.header h2 {
  float: right;

  padding: 15px 10px 0px 0px;

  color: white;
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.7em;
}

.listButton {
  margin-top: 20px;
}

.homeWrapper {
  background-image: url('../yeahitsnoice.jpg');
  background-repeat: no-repeat;
  background-position: 0px -250px;
  background-size: cover;
	height: 100%;
	overflow: auto;
}

.fade_line_home {
    margin: 15px 0px 15px 0px;
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 250, from(#fff), to(rgba(0,0,0,0)));
}

.fade_line_home_lower {
  margin: 15px 0px 40px 0px;
  display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 250, from(#fff), to(rgba(0,0,0,0)));
}

.homeText {
  margin: 6% 15%;
  width: 600px;
  height: auto;

  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px grey;

}

.homeText h1 {
  font-size: 4.5em;
  letter-spacing: 2px;
  font-weight: 600;

  padding: 5px;
}

.homeText h2 {
  font-size: 1.5em;
  letter-spacing: .7px;
  line-height: 110%;
  font-style: italic;

  padding: 10px;
}

.homeText h4 {
  font-size: 1.1em;
  font-style: italic;

  padding: 0px 10px 30px 10px;
}






/* Google authentication button */

#customBtn {
      display: inline-block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

span.icon {
  background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

.g-signin2 {
  margin-top: 15px;
}

.authLink {
  padding: none;
}

/* Main Content */


.contentWrapper {
  width: 100%;
  height: auto;
}

.listWrapper {
  max-width: 960px;
  height: auto;

  margin: 0px auto;
  padding: 10px;
}

.listWrapper h2 {
  font-family: Raleway;
  font-weight: 400;
  color: #3BAF29;
  font-size: 2em;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 600;
}

.listWeights {
  display: flex;
  justify-content: space-around;
  margin: 90px 20px 20px 20px;

  background-color: #3BAF29;
  color: white;

  border-radius: 5px;
}

.listWeights h3 {
  font-size: 2em;
  padding: 10px;

  text-align: center;
}


.map-embed {
  width: 100%;
  height: 300px;
  padding: 30px 0px 30px 0px;

  /*border: 1px solid black;*/
}




.ticketWrapper {
  margin: 20px 20px 40px 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  box-shadow: 2px 2px 1px grey;

  color: white;
  font-family: Raleway;
  opacity: .8;
}

.navArrow {
  width: 15px;
  height: 15px;
}

.photoWrapper {
  width: 100%;
  height: auto;
}

.donorFormWrapper {
  max-width: 960px;
  height: auto;
  background-color: #8B8EBA;

  box-shadow: 2px 2px 1px grey;

  margin: 0px auto;
  padding: 10px;

  color: white;
  font-family: Raleway;
}

.pickUp {
  border: 1px solid #4C53BA;
  background-color: #4C53BA;
}

.pickUp:active {
  border: 1px solid #2b2f6e;
  background-color: #2b2f6e;
}

.dropOff {
  border: 1px solid #1E6F85;
  background-color: #1E6F85;
}

.dropOff:active {
  border: 1px solid #325c67;
  background-color: #325c67;
}

.complete {
  border: 1px solid #A2AEBB;
  background-color: #A2AEBB;
}

.weight {
  margin: 10px;

  width: auto;
  height: auto;

  font-size: 2.5em;
}

.orgInfo {
  margin: 0px 20px 0px -10px;
}

.orgInfo h2 {
  font-family: Raleway;
  font-size: 1.6em;
  font-weight: 400;

  text-align: left;
  letter-spacing: 1px;
  color: white;
  margin: 7px 0px 5px 10px;
}

.orgInfo h4 {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;

  margin: 5px 0px 5px 10px;
}

* {
  margin: 0;
  padding: 0;
}

/* Hamburger Icon */

.nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 15px 10px 10px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon {
}

.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.addDonor {
  margin-left: 20px;
}

.donorList {
  margin: 50px auto;
}

.donorList a {
  text-decoration: none;
}

.addRecip {
  margin-left: 20px;
}

.recipList {
  margin: 50px auto;
}

.recipList a {
  text-decoration: none;
}

.fade_line{
    margin: 15px 0px 15px 0px;
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#fff), to(#4C53BA));
}

.fade_line_recip {
  margin: 15px 0px 15px 0px;
  display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#fff), to(#1E6F85));
}

/* Single ticket page */

.ticketWrapperSingle {
  max-width: 960px;
  background-color: #4C53BA;
  text-align: center;

  margin: 77px auto;
}

.ticketWrapperSingle a {
    text-decoration: none;
}

.ticketWrapperSingle h2 {
  text-align: center;
}

.ticketWrapperSingle h4 {
  color: white;
  font-family: Raleway;
  font-weight: 400;
  text-align: center;
}

.recipColor {
  background-color: #1E6F85
}


.contact h2 {
  font-family: Raleway;
  font-size: 1.4em;
  font-weight: 400;

  text-align: center;
  letter-spacing: 1px;
  color: white;
  margin: 7px 0px 5px 15px;
}

.inventory {
  display: flex;
  justify-content: space-around;
}

.inventory h2 {
  font-family: Raleway;
  font-size: 1.4em;
  font-weight: 400;

  text-align: left;
  letter-spacing: 1px;
  color: white;
  margin: 7px 0px 5px 15px;
}

.actualWeight {
  display: flex;
  justify-content: space-around;
}

.notes {
  text-align: center;
  margin: 0 auto;
}

.notes h2 {
  padding: 0px 0px 10px 10px;
  font-family: Raleway;
  font-weight: 400;
  color: white;
  font-size: 1.4em;
}

.notes li {
  color: white;
  font-family: Raleway;
  font-size: 1em;

  margin-left: 40px;
}

.comments {
  font-family: Raleway;
  font-size: 1.4em;
  font-weight: 400;

  letter-spacing: 1px;
  color: white;
  margin: 7px 0px 5px 15px;
  padding:
}

.comments li {
  color: white;
  font-family: Raleway;
  font-size: .7em;

  margin: 20px 0px 5px 25px ;
}

.button {
  color: white;
  font-size: 1em;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #4C53BA;
  padding: 5px 10px 5px 10px;
}

#buttonComplete {
  color: white;
  font-size: 1.4em;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #4C53BA;
  padding: 5px 20px 5px 20px;
}

.donorForm {
  width: 50%;
  margin: 80px auto;
  background-color: #4C53BA;

  color: white;
  text-align: center;
}

.donorForm h2 {
  font-weight: 400;
  padding: 10px;
}

.recipientForm {
  width: 50%;
  margin: 80px auto;
  background-color: #1E6F85;
  color: white;
  text-align: center;
}

.recipientForm h2 {
  font-weight: 400;
  padding: 10px;
}

select {
  margin: 10px;
  font-family: Raleway;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 5px;

}

input[type="number"] {
  margin: 10px;
  font-family: Raleway;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 5px;
  width: 172px;
}

input[type="submit"] {
  color: white;
  font-size: 1.5em;
  border: 1px solid #3BAF29;
  border-radius: 5px;
  background-color: #3BAF29;
  padding: 5px 20px 5px 20px;
  margin: 10px 10px 30px 10px;
  font-family: Raleway;
  transition: .3s;
}

input[type="submit"]:hover {
  color: #3BAF29;
  background-color: white;
  border: 1px solid #3BAF29;
  transition: .3s;
}

/*Drop down spike*/

.dropdownAdd {
  position: relative;
  display: inline-block;
  width: 150px;

  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin: 13px 5px 10px 5px;

  font-size: 1.3em;
  font-family: Raleway;
  color: white;
}

.dropdownAdd:hover .dropDownAddContent {
  display: block;
}

.dropDownAddContent {
  display: none;
  position: absolute;
  background-color: rgba(42, 124, 29, .9);
  height:auto;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;

  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin: 0px 0px 0px -100px;
  text-align: center;
}

.dropDownAddContent p:hover {
  color: #3BAF29;
  background-color: white;

  border-radius: 5px;
  transition: .3s;
}

.dropDownAddContent a {
  font-size: 1em;
  font-family: Raleway;
  color: white;
  text-decoration: none;

  padding: 5px;
  border: none;
  margin: 10px;

  transition: .3s;
}

.buttonRecip {
  background-color: #1E6F85;
}

/* Media Queries */

@media (max-width: 1800px) {
  .homeWrapper {
    background-size: auto;
  }
}

@media (max-width: 800px) {
  .ticketWrapper {
    padding: 0px;
  }
  .logo {
    font-size: 2.5em;
  }
  .weight {
    font-size: 1.4em;
    margin: 20px 5px 5px 10px;
    width: auto;
  }
  .orgInfo {
    margin: 0px;
    padding: 5px 10px 5px 5px;
  }
  .orgInfo h2 {
    font-size: 1.4em;
  }
  .navButton {
    display: none;
  }
  .nav-icon {
    display: none;
  }
  .authButton {
    margin: 3px 0px 0px 8px;
  }
  .homeText {
    max-width: 500px;
    width:auto;
    margin: 100px auto;
  }
  .fade_line_home {
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#fff), to(rgba(0,0,0,0)));
  }
  .listWeights {
    margin: 40px 0px 0px 0px;
  }
  .listWeights h3 {
    font-size: 1em;
  }
  .listBanner p {
    width: 90%;
  }
  .ticketWrapperSingle {
    max-width: 960px;
    background-color: #4C53BA;
    text-align: center;

    margin: 50px 0px 0px 0px;
  }
  .recipColor {
    background-color: #1E6F85;
  }
  .inventory {
    width: 60%;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 0px 0px 0px 40px;
  }
  .inventory h2 {
    text-align: center;
  }
  .inventory input {
    width: 75px;
  }
  .expected {
    margin: 0px 42px 0px 0px;
    text-align: center;
  }
  .actualWeight {
    margin: 0px 45px 0px 0px;
  }

  .donorForm {
    width: 70%;
    margin: 50px auto;
  }
  .recipientForm {
    width: 70%;
    margin: 50px auto;
    background-color: #4b8b9d;
  }
}

/*@media (max-width: 520px) {
  .inventory {
    display: block;
  }
}*/

@media (max-width: 400px) {
  .authButton {
    font-size: 1.1em;
    margin: 3px -15px 0px 0px;
  }
}

@media (min-width: 600px) {
  .header h2 {
    display: none;
  }
}
