/*
OzHarvest yellow: #FBDF06
KiwiHarvest green: #3BAF29
Steel Blue: #4C53BA
Tomatoish: #FF4C4C
Grey: #A2AEBB */

body {
  width: 100%;
  height: auto;
  margin: 0;
}

.mainWrapper {
  width: 100%;
  height: auto;
}

.mainWrapper p {
  margin: none;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #3BAF29;
}

.logo {
  font-size: 3.5em;
  font-family: Raleway;
  font-weight: bold;
  color: white;

  padding: 10px;
}

.auth {
 float:right;
 width: 300px;
 height: auto;

 display: flex;
 justify-content: space-around;
}

.auth a {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin: 13px 5px 10px 5px;

  font-size: 1.3em;
  font-family: Raleway;
  color: white;

  transition: .3s;
}

.auth a:hover {
  color: #3BAF29;
  background-color: white;

  transition: .3s;
}

/* Main Content */


.contentWrapper {
  width: 100%;
  height: auto;
  margin: 0px auto;
}

.listWrapper {
  max-width: 960px;
  height: auto;
  box-shadow: 3px 3px 15px grey;

  margin: 0px auto;
  padding: 10px;
}

.listWrapper h2 {
  padding: 10px 10px 10px 20px;
  font-family: Raleway;
  color: black;
  font-size: 2em;
}

.listWrapper p {
  padding: 10px 10px 10px 20px;
  font-family: Raleway;
  color: black;
  font-size: 1.1em;
}

.ticketWrapper {
  padding: 0px 2s0px 0px 20px;
  margin: 20px;

  border-radius: 5px;

  box-shadow: 2px 2px 1px grey;

  color: white;
  font-family: Raleway;
  opacity: .8;
}

.pickUp {
  border: 1px solid #4C53BA;
  background-color: #4C53BA;
}

.dropOff {
  border: 1px solid #FF4C4C;
  background-color: #FF4C4C;
}

.ticketWrapper h2 {
  font-family: Raleway;
  font-size: 2em;
  font-weight: 400;

  color: white;
  padding: 0px 0px 0px 10px;
}

.ticketWrapper h4 {
  font-size: 1.2em;
  font-style: italic;
}

#formWrapper {
  padding: 10px;
  margin: 20px;

  border: 1px solid #A2AEBB;
  border-radius: 5px;
  background-color: #A2AEBB;

  color: white;
  font-family: Raleway;
  opacity: .8;
}

.pickUp {
  border: 1px solid #4C53BA;
  background-color: #4C53BA;
}

.dropOff {
  border: 1px solid #FF4C4C;
  background-color: #FF4C4C;
}

.ticketWrapper h2 {
  font-family: Raleway;
  font-size: 2em;
  font-weight: 400;

  color: white;
  padding: 0px 0px 0px 10px;
}

.ticketWrapper h4 {
  font-size: 1.2em;
  font-style: italic;
}

.formInput {
    width:100%;
}

<<<<<<< HEAD
.fade_line{
    margin: 15px 0px 15px 0px;
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#fff), to(#4C53BA));
}

/* Single ticket page */

.ticketWrapperSingle {
  max-width: 960px;
  background-color: #4C53BA;
}

.ticketWrapperSingle h4 {
  color: white;
  font-family: Raleway;
  font-weight: 400;
}

.contact h2 {
  font-family: Raleway;
  font-size: 1.4em;
  font-weight: 400;

  text-align: left;
  letter-spacing: 1px;
  color: white;
  margin: 7px 0px 5px 15px;
}

.notes h2 {
  padding: 0px 0px 10px 10px;
  font-family: Raleway;
  font-weight: 400;
  color: white;
  font-size: 1.4em;
  text-align: left;
}

.inventory h2 {
  font-family: Raleway;
  font-size: 1.4em;
  font-weight: 400;

  text-align: left;
  letter-spacing: 1px;
  color: white;
  margin: 7px 0px 5px 15px;
}

.notes li {
  color: white;
  text-align: left;
  font-family: Raleway;

  margin-left: 40px;
}

.comments {
  font-family: Raleway;
  font-size: 1.4em;
  font-weight: 400;

  text-align: left;
  letter-spacing: 1px;
  color: white;
  margin: 7px 0px 5px 15px;
  padding: 10px;
}

.button {
  color: white;
  font-size: 1em;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #4C53BA;
  padding: 5px 10px 5px 10px;
}

.photoWrapper {
  max-width: 100%;
  height: auto;
  margin: 0px auto;
}

#homeText {
  max-width: 80%;
  height: auto;
  margin: 0px auto;
  padding: 0px;
}

/* Media Queries */

@media (max-width: 600px) {
  .ticketWrapper {
    padding: 0px;
  }
  .weight {
    font-size: 1.4em;
    margin: 20px 5px 5px 10px;
    width: auto;
  }
  .orgInfo {
    margin: 0px;
    padding: 5px 10px 5px 5px;
  }
  .orgInfo h2 {
    font-size: 1.4em;
  }
  .auth {
    display: none;
  }
  .nav-icon {
    display: none;
  }
}
